.header 
{
    padding: 46px 0 56px;
}

.header__row
{
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: space-between;
}

.header__logo
{
    display: flex;
    align-items: center;
    column-gap: 13px;
}

.header__logo span 
{
    font-size: 40px;
    font-weight: 900;
    line-height: 1.5;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.header__nav 
{
    font-size: 22px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.22px;
}

.header__nav ul
{
    display: flex;
    column-gap: 65px;
    align-items: center;
}

.header__nav a 
{
    color: var(--textColor);
}

.header__nav-btn, a.header__nav-btn
{
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.72px;
    border-radius: 7px;
    background-color: #000;
    color: #fff;
    padding: 17px 22px;
}